html {
	background-color: #d3d6ce;
}

.container {
	background-color: #ecefe8;
	border-style: double;
	border-color: #d3d6ce;
}

.col {
	border-style: dotted;
	border-color: #d3d6ce;
}

h1 {
	color: #211f22;
	margin-left: 5%;
	margin-right: 5%;
}

h2 {
	margin-left: 6%;
	margin-right: 5%;
}

p {
	color: #211f22;
	color: #69676a;
	margin-left:5%;
	margin-right: 5%;
}
